node-red/flow.json
[
  {
    "id": "7991804130832870",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "af1275499b9d2ba8",
    "type": "python3-function",
    "z": "7991804130832870",
    "name": "",
    "func": "FILE = \"/home/iotmartimmourao/IoTProjectGroup5/datasets/offline_.json\"\n\nf = open(FILE)\n\n\nbat01Charge = 0\n\n\ndata = json.load(f)\n\nfor cycle in data:\n    if(data[cycle][\"battery_ID\"] == \"1\" and data[cycle][\"type\"] == \"charge\"):\n        bat01Charge = bat01Charge + 1\n\n\nnewMsg = { \"payload\": bat01Charge }\nreturn newMsg\n",
    "outputs": 1,
    "x": 550,
    "y": 360,
    "wires": [
      [
        "35374e88c82a3f0c",
        "06075e05fd2ce427"
      ]
    ],
    "inputLabels": [
      "msg"
    ]
  },
  {
    "id": "f1c95f2bfbf10dcf",
    "type": "debug",
    "z": "7991804130832870",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1210,
    "y": 620,
    "wires": []
  },
  {
    "id": "a639bfbb790d9141",
    "type": "inject",
    "z": "7991804130832870",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 600,
    "wires": [
      [
        "af1275499b9d2ba8",
        "2a6d1099d403db9b",
        "f4b2522971e7a7f5",
        "588eb7d4ea622a2d"
      ]
    ]
  },
  {
    "id": "2a6d1099d403db9b",
    "type": "python3-function",
    "z": "7991804130832870",
    "name": "",
    "func": "FILE = \"/home/iotmartimmourao/IoTProjectGroup5/datasets/offline_.json\"\n\nf = open(FILE)\n\n\n\n\nbat01DisCharge = 0\n\n\ndata = json.load(f)\n\nfor cycle in data:\n    if(data[cycle][\"battery_ID\"] == \"1\" and data[cycle][\"type\"] == \"discharge\"):\n        bat01DisCharge = bat01DisCharge + 1\n        \n\nnewMsg = { \"payload\": bat01DisCharge }\nreturn newMsg\n",
    "outputs": 1,
    "x": 550,
    "y": 520,
    "wires": [
      [
        "df26854214c11469",
        "06075e05fd2ce427"
      ]
    ],
    "inputLabels": [
      "msg"
    ]
  },
  {
    "id": "df26854214c11469",
    "type": "ui_text",
    "z": "7991804130832870",
    "group": "b5f65b965b8fd32c",
    "order": 0,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Discharge cycles",
    "format": "{{msg.payload}}",
    "layout": "col-center",
    "x": 570,
    "y": 600,
    "wires": []
  },
  {
    "id": "35374e88c82a3f0c",
    "type": "ui_text",
    "z": "7991804130832870",
    "group": "b5f65b965b8fd32c",
    "order": 0,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Charges cycles",
    "format": "{{msg.payload}}",
    "layout": "col-center",
    "x": 580,
    "y": 440,
    "wires": []
  },
  {
    "id": "06075e05fd2ce427",
    "type": "join",
    "z": "7991804130832870",
    "name": "",
    "mode": "custom",
    "build": "array",
    "property": "payload",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": false,
    "timeout": "",
    "count": "4",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "",
    "reduceFixup": "",
    "x": 990,
    "y": 620,
    "wires": [
      [
        "f1c95f2bfbf10dcf"
      ]
    ]
  },
  {
    "id": "f4b2522971e7a7f5",
    "type": "python3-function",
    "z": "7991804130832870",
    "name": "",
    "func": "FILE = \"/home/iotmartimmourao/IoTProjectGroup5/datasets/offline_.json\"\n\nf = open(FILE)\n\n\nbat02Charge = 0\n\n\ndata = json.load(f)\n\nfor cycle in data:\n    if(data[cycle][\"battery_ID\"] == \"2\" and data[cycle][\"type\"] == \"charge\"):\n        bat02Charge = bat02Charge + 1\n    \nnewMsg = { \"payload\": bat02Charge }\nreturn newMsg\n",
    "outputs": 1,
    "x": 550,
    "y": 660,
    "wires": [
      [
        "06075e05fd2ce427",
        "b014d07a408cfea3"
      ]
    ],
    "inputLabels": [
      "msg"
    ]
  },
  {
    "id": "588eb7d4ea622a2d",
    "type": "python3-function",
    "z": "7991804130832870",
    "name": "",
    "func": "FILE = \"/home/iotmartimmourao/IoTProjectGroup5/datasets/offline_.json\"\n\nf = open(FILE)\n\n\nbat02DisCharge = 0\n\ndata = json.load(f)\n\nfor cycle in data:\n    if(data[cycle][\"battery_ID\"] == \"2\" and data[cycle][\"type\"] == \"discharge\"):\n        bat02DisCharge = bat02DisCharge + 1\n\n\nnewMsg = { \"payload\": bat02DisCharge }\nreturn newMsg\n",
    "outputs": 1,
    "x": 550,
    "y": 780,
    "wires": [
      [
        "06075e05fd2ce427",
        "a3a1eedff2df7ec5"
      ]
    ],
    "inputLabels": [
      "msg"
    ]
  },
  {
    "id": "a3a1eedff2df7ec5",
    "type": "ui_text",
    "z": "7991804130832870",
    "group": "26d348e87fb1b721",
    "order": 0,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Discharge cycles",
    "format": "{{msg.payload}}",
    "layout": "col-center",
    "x": 590,
    "y": 840,
    "wires": []
  },
  {
    "id": "b014d07a408cfea3",
    "type": "ui_text",
    "z": "7991804130832870",
    "group": "26d348e87fb1b721",
    "order": 0,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Charges cycles",
    "format": "{{msg.payload}}",
    "layout": "col-center",
    "x": 580,
    "y": 720,
    "wires": []
  },
  {
    "id": "b5f65b965b8fd32c",
    "type": "ui_group",
    "name": "Battery 01",
    "tab": "5356960d31341a7c",
    "order": 2,
    "disp": true,
    "width": "4",
    "collapse": false
  },
  {
    "id": "26d348e87fb1b721",
    "type": "ui_group",
    "name": "Battery 02",
    "tab": "5356960d31341a7c",
    "order": 3,
    "disp": true,
    "width": "4",
    "collapse": false
  },
  {
    "id": "5356960d31341a7c",
    "type": "ui_tab",
    "name": "Home",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  }
]