node-red/flowsWithDB.json
[
    {
        "id": "c278221734e7af37",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "732f94fa4eedc7ec",
        "type": "mongodb in",
        "z": "c278221734e7af37",
        "mongodb": "82ecaedab6a8abd5",
        "name": "IoT DB",
        "collection": "offline",
        "operation": "count",
        "x": 550,
        "y": 600,
        "wires": [
            [
                "56c2bedaa665744b",
                "b8c18dfb1dc9d88f"
            ]
        ]
    },
    {
        "id": "a7b5fb30a01b4d46",
        "type": "ui_slider",
        "z": "c278221734e7af37",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "f0c73c97a6624deb",
        "order": 2,
        "width": "2",
        "height": "1",
        "passthru": true,
        "outs": "end",
        "topic": "iot",
        "topicType": "msg",
        "min": "1",
        "max": "2",
        "step": 1,
        "x": 150,
        "y": 640,
        "wires": [
            [
                "c02cea7243c65b1d",
                "aa22dbe8f062e66f"
            ]
        ]
    },
    {
        "id": "c02cea7243c65b1d",
        "type": "template",
        "z": "c278221734e7af37",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"battery_ID\":\"{{payload}}\",\"type\":\"discharge\"}",
        "output": "json",
        "x": 380,
        "y": 600,
        "wires": [
            [
                "732f94fa4eedc7ec"
            ]
        ]
    },
    {
        "id": "38266119dcf4be2d",
        "type": "ui_text",
        "z": "c278221734e7af37",
        "group": "4d0206139b8d2c96",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Charges Cycles",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 620,
        "y": 740,
        "wires": []
    },
    {
        "id": "56c2bedaa665744b",
        "type": "ui_text",
        "z": "c278221734e7af37",
        "group": "4d0206139b8d2c96",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Discharges Cycles",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 630,
        "y": 520,
        "wires": []
    },
    {
        "id": "aa22dbe8f062e66f",
        "type": "template",
        "z": "c278221734e7af37",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"battery_ID\":\"{{payload}}\",\"type\":\"charge\"}",
        "output": "json",
        "x": 380,
        "y": 660,
        "wires": [
            [
                "c2c02738d29ebee4"
            ]
        ]
    },
    {
        "id": "c2c02738d29ebee4",
        "type": "mongodb in",
        "z": "c278221734e7af37",
        "mongodb": "82ecaedab6a8abd5",
        "name": "IoT DB",
        "collection": "offline",
        "operation": "count",
        "x": 550,
        "y": 660,
        "wires": [
            [
                "38266119dcf4be2d",
                "01a9287e57cbd232"
            ]
        ]
    },
    {
        "id": "b8c18dfb1dc9d88f",
        "type": "debug",
        "z": "c278221734e7af37",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 600,
        "wires": []
    },
    {
        "id": "01a9287e57cbd232",
        "type": "debug",
        "z": "c278221734e7af37",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 660,
        "wires": []
    },
    {
        "id": "82ecaedab6a8abd5",
        "type": "mongodb",
        "hostname": "iot.qwwov.mongodb.net",
        "topology": "dnscluster",
        "connectOptions": "",
        "port": "27017",
        "db": "iot",
        "name": "Mongo DB iot"
    },
    {
        "id": "f0c73c97a6624deb",
        "type": "ui_group",
        "name": "Escolher Bateria",
        "tab": "32e5c27e636962f2",
        "order": 1,
        "disp": true,
        "width": "4",
        "collapse": false
    },
    {
        "id": "4d0206139b8d2c96",
        "type": "ui_group",
        "name": "Default",
        "tab": "32e5c27e636962f2",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "32e5c27e636962f2",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]