node-red/AllPartsNew/part02.json
[
    {
        "id": "0f1a10f3a0fd845b",
        "type": "tab",
        "label": "Part02",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "02ea5c0653bbc071",
        "type": "mqtt in",
        "z": "0f1a10f3a0fd845b",
        "name": "",
        "topic": "idc/bat01",
        "qos": "2",
        "datatype": "json",
        "broker": "c849af731edcf13d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 240,
        "wires": [
            [
                "8ac835c28f3f24d2",
                "a4c5152834709a50",
                "9f9b2bf57ab44694"
            ]
        ]
    },
    {
        "id": "ceb04049d424d5cb",
        "type": "mqtt in",
        "z": "0f1a10f3a0fd845b",
        "name": "",
        "topic": "idc/bat02",
        "qos": "2",
        "datatype": "json",
        "broker": "c849af731edcf13d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 680,
        "wires": [
            [
                "e371fd3d463cb970",
                "429c480ad8939cbd",
                "69c009e3194856f8"
            ]
        ]
    },
    {
        "id": "7655896250ad25f8",
        "type": "exec",
        "z": "0f1a10f3a0fd845b",
        "command": "python3 ia.py ",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Prediction Model",
        "x": 530,
        "y": 300,
        "wires": [
            [
                "fb3d95f81f333032"
            ],
            [],
            []
        ]
    },
    {
        "id": "8ac835c28f3f24d2",
        "type": "python3-function",
        "z": "0f1a10f3a0fd845b",
        "name": "",
        "func": "def scale(x, min ,max):\n    return float((x - min) / max)\n\nbattery_ID = msg[\"payload\"][\"battery_ID\"]\n\nvoltage_battery = scale(float(msg[\"payload\"][\"voltage_battery\"]),1.786878293427543,2.4281911468086217)\ncurrent_battery = scale(float(msg[\"payload\"][\"current_battery\"]),-4.030268477538787,5.561569904513321)\ntemp_battery = scale(float(msg[\"payload\"][\"temp_battery\"]),22.969922978716898,19.36259938851624)\ncurrent_load = scale(float(msg[\"payload\"][\"current_load\"]),-4.036,6.036)\nvoltage_load = scale(float(msg[\"payload\"][\"voltage_load\"]),0.0,4.958)\n\n\n\nmsg[\"payload\"] = \"\\\"\" + str(voltage_battery) + \" \"  + str(current_battery) + \" \"  + str(temp_battery) + \" \"  + str(current_load) + \" \"  + str(voltage_load) + \"\\\"\"\nreturn msg",
        "outputs": 1,
        "x": 310,
        "y": 300,
        "wires": [
            [
                "7655896250ad25f8"
            ]
        ]
    },
    {
        "id": "fb3d95f81f333032",
        "type": "python3-function",
        "z": "0f1a10f3a0fd845b",
        "name": "",
        "func": "def unscale(x, minv, maxv):\n    return (x * maxv) + minv\n\ngr = msg[\"payload\"]\nalo = gr.replace(\"[\",\"\")\nalo = alo.replace(\"]\",\"\")\n\nresult = float(alo)\n\nresult = unscale(result,0.0,10807.328)\n\nmsg[\"payload\"] = result\n\nreturn msg",
        "outputs": 1,
        "x": 750,
        "y": 300,
        "wires": [
            [
                "ef839b4f0dc4d21c"
            ]
        ]
    },
    {
        "id": "11da2397cb6c5ea1",
        "type": "exec",
        "z": "0f1a10f3a0fd845b",
        "command": "python3 iaD.py ",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Prediction Model",
        "x": 530,
        "y": 740,
        "wires": [
            [
                "87c4df314d970a05"
            ],
            [],
            []
        ]
    },
    {
        "id": "e371fd3d463cb970",
        "type": "python3-function",
        "z": "0f1a10f3a0fd845b",
        "name": "",
        "func": "def scale(x, min ,max):\n    return float((x - min) / max)\n\nbattery_ID = msg[\"payload\"][\"battery_ID\"]\n\nvoltage_battery = scale(float(msg[\"payload\"][\"voltage_battery\"]),1.786878293427543,2.4281911468086217)\ncurrent_battery = scale(float(msg[\"payload\"][\"current_battery\"]),-4.030268477538787,5.561569904513321)\ntemp_battery = scale(float(msg[\"payload\"][\"temp_battery\"]),22.969922978716898,19.36259938851624)\ncurrent_load = scale(float(msg[\"payload\"][\"current_load\"]),-4.036,6.036)\nvoltage_load = scale(float(msg[\"payload\"][\"voltage_load\"]),0.0,4.958)\n\n\n\nmsg[\"payload\"] = \"\\\"\" + str(voltage_battery) + \" \"  + str(current_battery) + \" \"  + str(temp_battery) + \" \"  + str(current_load) + \" \"  + str(voltage_load) + \"\\\"\"\nreturn msg",
        "outputs": 1,
        "x": 310,
        "y": 740,
        "wires": [
            [
                "11da2397cb6c5ea1"
            ]
        ]
    },
    {
        "id": "87c4df314d970a05",
        "type": "python3-function",
        "z": "0f1a10f3a0fd845b",
        "name": "",
        "func": "def unscale(x, minv, maxv):\n    return (x * maxv) + minv\n\ngr = msg[\"payload\"]\nalo = gr.replace(\"[\",\"\")\nalo = alo.replace(\"]\",\"\")\n\nresult = float(alo)\n\nresult = unscale(result,0.0,10807.328)\n\nmsg[\"payload\"] = result\n\nreturn msg",
        "outputs": 1,
        "x": 750,
        "y": 740,
        "wires": [
            [
                "656d81d7da57545a"
            ]
        ]
    },
    {
        "id": "ef839b4f0dc4d21c",
        "type": "ui_text",
        "z": "0f1a10f3a0fd845b",
        "group": "f0c73c97a6624deb",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Bateria 1",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 940,
        "y": 300,
        "wires": []
    },
    {
        "id": "656d81d7da57545a",
        "type": "ui_text",
        "z": "0f1a10f3a0fd845b",
        "group": "f0c73c97a6624deb",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Bateria 2",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 940,
        "y": 740,
        "wires": []
    },
    {
        "id": "a4c5152834709a50",
        "type": "change",
        "z": "0f1a10f3a0fd845b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"current_battery\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 240,
        "wires": [
            [
                "9c5d3c0cc2661e7d"
            ]
        ]
    },
    {
        "id": "9c5d3c0cc2661e7d",
        "type": "ui_chart",
        "z": "0f1a10f3a0fd845b",
        "name": "",
        "group": "f0c73c97a6624deb",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 470,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "429c480ad8939cbd",
        "type": "change",
        "z": "0f1a10f3a0fd845b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"current_battery\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 680,
        "wires": [
            [
                "534bdb6a1aa808fc"
            ]
        ]
    },
    {
        "id": "534bdb6a1aa808fc",
        "type": "ui_chart",
        "z": "0f1a10f3a0fd845b",
        "name": "",
        "group": "f0c73c97a6624deb",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#b31e1e",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 450,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "a5030ba0d6704bfa",
        "type": "mongodb in",
        "z": "0f1a10f3a0fd845b",
        "mongodb": "9db2df972f053a3d",
        "name": "",
        "collection": "onlineBat01",
        "operation": "count",
        "x": 650,
        "y": 180,
        "wires": [
            [
                "3401c08a434d8dca"
            ]
        ]
    },
    {
        "id": "23aec09a6442bc0b",
        "type": "template",
        "z": "0f1a10f3a0fd845b",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"_id\":\"{{payload.cycle_number}}\"}",
        "output": "json",
        "x": 460,
        "y": 180,
        "wires": [
            [
                "a5030ba0d6704bfa"
            ]
        ]
    },
    {
        "id": "3401c08a434d8dca",
        "type": "switch",
        "z": "0f1a10f3a0fd845b",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 830,
        "y": 180,
        "wires": [
            [
                "04d1ba9acd807892"
            ],
            [
                "2aeff35ca891304c"
            ]
        ]
    },
    {
        "id": "4294420844c7b95d",
        "type": "mongodb out",
        "z": "0f1a10f3a0fd845b",
        "mongodb": "9db2df972f053a3d",
        "name": "",
        "collection": "onlineBat01",
        "payonly": true,
        "upsert": true,
        "multi": true,
        "operation": "insert",
        "x": 1230,
        "y": 140,
        "wires": []
    },
    {
        "id": "04d1ba9acd807892",
        "type": "python3-function",
        "z": "0f1a10f3a0fd845b",
        "name": "",
        "func": "data = msg[\"topic\"]\njs = {\"battery_ID\": data[\"battery_ID\"],\n    \"_id\": data[\"cycle_number\"],\n    \"type\": data[\"type\"],\n    \"voltage_battery\": [data[\"voltage_battery\"]],\n    \"current_battery\": [data[\"current_battery\"]],\n    \"temp_battery\": [data[\"temp_battery\"]],\n    \"current_load\": [data[\"current_load\"]],\n    \"voltage_load\": [data[\"voltage_load\"]]\n}\n\nmsg[\"payload\"] = js\nreturn msg",
        "outputs": 1,
        "x": 1010,
        "y": 140,
        "wires": [
            [
                "4294420844c7b95d"
            ]
        ]
    },
    {
        "id": "9f9b2bf57ab44694",
        "type": "change",
        "z": "0f1a10f3a0fd845b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 180,
        "wires": [
            [
                "23aec09a6442bc0b"
            ]
        ]
    },
    {
        "id": "2aeff35ca891304c",
        "type": "python3-function",
        "z": "0f1a10f3a0fd845b",
        "name": "",
        "func": "melancia = \"\\\"\" +  msg[\"topic\"][\"cycle_number\"] + \"|\" +  msg[\"topic\"][\"battery_ID\"] + \"|\" + msg[\"topic\"][\"type\"] + \"|\" + str(msg[\"topic\"][\"voltage_battery\"]) + \"|\" + str(msg[\"topic\"][\"current_battery\"]) + \"|\" + str(msg[\"topic\"][\"temp_battery\"]) + \"|\" + str(msg[\"topic\"][\"current_load\"]) + \"|\" + str(msg[\"topic\"][\"voltage_load\"]) + \"\\\"\"\n\nmsg[\"payload\"] = melancia\n\nreturn msg",
        "outputs": 1,
        "x": 1010,
        "y": 200,
        "wires": [
            [
                "dbbc7022d7da1255"
            ]
        ]
    },
    {
        "id": "dbbc7022d7da1255",
        "type": "exec",
        "z": "0f1a10f3a0fd845b",
        "command": "python3 updatedelete.py",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1250,
        "y": 200,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "7c05946874178b1d",
        "type": "mongodb in",
        "z": "0f1a10f3a0fd845b",
        "mongodb": "9db2df972f053a3d",
        "name": "",
        "collection": "onlineBat01",
        "operation": "count",
        "x": 650,
        "y": 620,
        "wires": [
            [
                "7f683b26fc1be000"
            ]
        ]
    },
    {
        "id": "2ed4981ca1bacf5d",
        "type": "template",
        "z": "0f1a10f3a0fd845b",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"_id\":\"{{payload.cycle_number}}\"}",
        "output": "json",
        "x": 460,
        "y": 620,
        "wires": [
            [
                "7c05946874178b1d"
            ]
        ]
    },
    {
        "id": "7f683b26fc1be000",
        "type": "switch",
        "z": "0f1a10f3a0fd845b",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 830,
        "y": 620,
        "wires": [
            [
                "e1b2261f235ffcd0"
            ],
            [
                "f634059212285c77"
            ]
        ]
    },
    {
        "id": "04e6e2515c927f84",
        "type": "mongodb out",
        "z": "0f1a10f3a0fd845b",
        "mongodb": "9db2df972f053a3d",
        "name": "",
        "collection": "onlineBat01",
        "payonly": true,
        "upsert": true,
        "multi": true,
        "operation": "insert",
        "x": 1230,
        "y": 580,
        "wires": []
    },
    {
        "id": "e1b2261f235ffcd0",
        "type": "python3-function",
        "z": "0f1a10f3a0fd845b",
        "name": "",
        "func": "data = msg[\"topic\"]\njs = {\"battery_ID\": data[\"battery_ID\"],\n    \"_id\": data[\"cycle_number\"],\n    \"type\": data[\"type\"],\n    \"voltage_battery\": [data[\"voltage_battery\"]],\n    \"current_battery\": [data[\"current_battery\"]],\n    \"temp_battery\": [data[\"temp_battery\"]],\n    \"current_load\": [data[\"current_load\"]],\n    \"voltage_load\": [data[\"voltage_load\"]]\n}\n\nmsg[\"payload\"] = js\nreturn msg",
        "outputs": 1,
        "x": 1010,
        "y": 580,
        "wires": [
            [
                "04e6e2515c927f84"
            ]
        ]
    },
    {
        "id": "69c009e3194856f8",
        "type": "change",
        "z": "0f1a10f3a0fd845b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 620,
        "wires": [
            [
                "2ed4981ca1bacf5d"
            ]
        ]
    },
    {
        "id": "f634059212285c77",
        "type": "python3-function",
        "z": "0f1a10f3a0fd845b",
        "name": "",
        "func": "melancia = \"\\\"\" +  msg[\"topic\"][\"cycle_number\"] + \"|\" +  msg[\"topic\"][\"battery_ID\"] + \"|\" + msg[\"topic\"][\"type\"] + \"|\" + str(msg[\"topic\"][\"voltage_battery\"]) + \"|\" + str(msg[\"topic\"][\"current_battery\"]) + \"|\" + str(msg[\"topic\"][\"temp_battery\"]) + \"|\" + str(msg[\"topic\"][\"current_load\"]) + \"|\" + str(msg[\"topic\"][\"voltage_load\"]) + \"\\\"\"\n\nmsg[\"payload\"] = melancia\n\nreturn msg",
        "outputs": 1,
        "x": 1010,
        "y": 640,
        "wires": [
            [
                "9ab67043c6fdd17c"
            ]
        ]
    },
    {
        "id": "9ab67043c6fdd17c",
        "type": "exec",
        "z": "0f1a10f3a0fd845b",
        "command": "python3 updatedelete.py",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1250,
        "y": 640,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "a36f7c70b55f877d",
        "type": "comment",
        "z": "0f1a10f3a0fd845b",
        "name": "Save new Data",
        "info": "",
        "x": 280,
        "y": 140,
        "wires": []
    },
    {
        "id": "4a8b51c44bd6c66c",
        "type": "comment",
        "z": "0f1a10f3a0fd845b",
        "name": "IA Prediction",
        "info": "",
        "x": 270,
        "y": 360,
        "wires": []
    },
    {
        "id": "e9b2236a9694fad1",
        "type": "comment",
        "z": "0f1a10f3a0fd845b",
        "name": "Save new Data",
        "info": "",
        "x": 260,
        "y": 580,
        "wires": []
    },
    {
        "id": "3df9ed2a91475aa2",
        "type": "comment",
        "z": "0f1a10f3a0fd845b",
        "name": "IA Prediction",
        "info": "",
        "x": 270,
        "y": 800,
        "wires": []
    },
    {
        "id": "c849af731edcf13d",
        "type": "mqtt-broker",
        "name": "idc",
        "broker": "35.203.65.131",
        "port": "1883",
        "clientid": "idc",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "3",
        "keepalive": "500",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "f0c73c97a6624deb",
        "type": "ui_group",
        "name": "Resultado IA",
        "tab": "20db864ae414c3e2",
        "order": 1,
        "disp": true,
        "width": "4",
        "collapse": false
    },
    {
        "id": "9db2df972f053a3d",
        "type": "mongodb",
        "hostname": "127.0.0.1",
        "topology": "direct",
        "connectOptions": "",
        "port": "27017",
        "db": "iot",
        "name": "IoT DB"
    },
    {
        "id": "20db864ae414c3e2",
        "type": "ui_tab",
        "name": "Online",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]