node-red/AllPartsNew/part01.json
[
    {
        "id": "eec1949e6da83fef",
        "type": "tab",
        "label": "Part01",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8d24d052fccee1cb",
        "type": "mongodb in",
        "z": "eec1949e6da83fef",
        "mongodb": "9db2df972f053a3d",
        "name": "",
        "collection": "offline",
        "operation": "count",
        "x": 540,
        "y": 140,
        "wires": [
            [
                "6219dcb3477f3c41"
            ]
        ]
    },
    {
        "id": "4dc51f51d3c27b3d",
        "type": "template",
        "z": "eec1949e6da83fef",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"battery_ID\":\"{{payload}}\",\"type\":\"charge\"}",
        "output": "json",
        "x": 320,
        "y": 140,
        "wires": [
            [
                "8d24d052fccee1cb"
            ]
        ]
    },
    {
        "id": "d1974537b9239ba7",
        "type": "template",
        "z": "eec1949e6da83fef",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"battery_ID\":\"{{payload}}\",\"type\":\"discharge\"}",
        "output": "json",
        "x": 320,
        "y": 200,
        "wires": [
            [
                "3272d7f6f83da573"
            ]
        ]
    },
    {
        "id": "3272d7f6f83da573",
        "type": "mongodb in",
        "z": "eec1949e6da83fef",
        "mongodb": "9db2df972f053a3d",
        "name": "",
        "collection": "offline",
        "operation": "count",
        "x": 540,
        "y": 200,
        "wires": [
            [
                "a42612d999435610"
            ]
        ]
    },
    {
        "id": "6219dcb3477f3c41",
        "type": "ui_text",
        "z": "eec1949e6da83fef",
        "group": "4d0206139b8d2c96",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Battery Cycle Charge",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 800,
        "y": 140,
        "wires": []
    },
    {
        "id": "a42612d999435610",
        "type": "ui_text",
        "z": "eec1949e6da83fef",
        "group": "be4b422e5e50ec2f",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Battery Cycle Discharge",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 810,
        "y": 200,
        "wires": []
    },
    {
        "id": "6af7c445673d39b6",
        "type": "mongodb in",
        "z": "eec1949e6da83fef",
        "mongodb": "9db2df972f053a3d",
        "name": "",
        "collection": "offline",
        "operation": "find",
        "x": 540,
        "y": 1200,
        "wires": [
            [
                "54896c5579469562"
            ]
        ]
    },
    {
        "id": "54896c5579469562",
        "type": "json",
        "z": "eec1949e6da83fef",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 710,
        "y": 1200,
        "wires": [
            [
                "7b5a3d36df03f256"
            ]
        ]
    },
    {
        "id": "57f2c1c2bec0c90a",
        "type": "DataOut",
        "z": "eec1949e6da83fef",
        "collection": "ea61b3e3490af972",
        "name": "",
        "path": "/jsonDataTimesBat01",
        "error": false,
        "x": 400,
        "y": 700,
        "wires": [
            [
                "a53e119bee69709b",
                "de3c015f57d133a9"
            ]
        ]
    },
    {
        "id": "334222b2f4e2b9a3",
        "type": "inject",
        "z": "eec1949e6da83fef",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 1240,
        "wires": [
            [
                "57021f7544f6d360",
                "c81530d421d39d19",
                "7c2b7b4350f503f1",
                "6f5f1f2647d37f52"
            ]
        ]
    },
    {
        "id": "be3840341fe3d52b",
        "type": "ui_dropdown",
        "z": "eec1949e6da83fef",
        "name": "",
        "label": "Charges",
        "tooltip": "",
        "place": "Select option",
        "group": "66c8885873538791",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "x": 900,
        "y": 680,
        "wires": [
            [
                "04bbaacd5dfe26e4"
            ]
        ]
    },
    {
        "id": "b9983a12f946b84f",
        "type": "python3-function",
        "z": "eec1949e6da83fef",
        "name": "",
        "func": "data = json.loads(msg[\"payload\"])\nlistDates = []\nfor i in data:\n    if(i[\"type\"] == \"charge\"):\n        str = i[\"date_time\"] + \" charge\"\n    else:\n        str = i[\"date_time\"] + \" dis\"\n    listDates.append(str)\nmsg[\"payload\"] = listDates\nreturn msg",
        "outputs": 1,
        "x": 890,
        "y": 1260,
        "wires": [
            [
                "eea1bc04e7a97a21"
            ]
        ]
    },
    {
        "id": "7b5a3d36df03f256",
        "type": "DataIn",
        "z": "eec1949e6da83fef",
        "collection": "ea61b3e3490af972",
        "name": "",
        "update": false,
        "path": "/jsonDataBat02",
        "x": 880,
        "y": 1200,
        "wires": []
    },
    {
        "id": "51e35a3beed72046",
        "type": "DataIn",
        "z": "eec1949e6da83fef",
        "collection": "ea61b3e3490af972",
        "name": "",
        "update": false,
        "path": "/jsonDataTimesBat01",
        "x": 1260,
        "y": 1260,
        "wires": []
    },
    {
        "id": "eea1bc04e7a97a21",
        "type": "json",
        "z": "eec1949e6da83fef",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1070,
        "y": 1260,
        "wires": [
            [
                "51e35a3beed72046"
            ]
        ]
    },
    {
        "id": "a53e119bee69709b",
        "type": "python3-function",
        "z": "eec1949e6da83fef",
        "name": "",
        "func": "data = json.loads(msg[\"payload\"])\nlistA = []\nfor i in data:\n    if(\"charge\" in i):\n        i = i.replace(\" charge\",\"\")\n        listA.append(i)\nmsg[\"options\"] = listA\nmsg[\"topic\"] = 1\nreturn msg",
        "outputs": 1,
        "x": 670,
        "y": 640,
        "wires": [
            [
                "be3840341fe3d52b"
            ]
        ]
    },
    {
        "id": "19d8e4ba20c2fd14",
        "type": "switch",
        "z": "eec1949e6da83fef",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 170,
        "y": 740,
        "wires": [
            [
                "57f2c1c2bec0c90a"
            ],
            [
                "597aaa2667a77a5a"
            ]
        ]
    },
    {
        "id": "57021f7544f6d360",
        "type": "template",
        "z": "eec1949e6da83fef",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"battery_ID\":\"1\"}",
        "output": "json",
        "x": 360,
        "y": 1260,
        "wires": [
            [
                "411e302619811bc6"
            ]
        ]
    },
    {
        "id": "411e302619811bc6",
        "type": "mongodb in",
        "z": "eec1949e6da83fef",
        "mongodb": "9db2df972f053a3d",
        "name": "",
        "collection": "offline",
        "operation": "find",
        "x": 540,
        "y": 1260,
        "wires": [
            [
                "1a4ea85f04bdb519"
            ]
        ]
    },
    {
        "id": "1a4ea85f04bdb519",
        "type": "json",
        "z": "eec1949e6da83fef",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 710,
        "y": 1260,
        "wires": [
            [
                "b9983a12f946b84f"
            ]
        ]
    },
    {
        "id": "d51045f6c1f6f5b2",
        "type": "python3-function",
        "z": "eec1949e6da83fef",
        "name": "",
        "func": "data = json.loads(msg[\"payload\"])\nlistDates = []\nfor i in data:\n    if(i[\"type\"] == \"charge\"):\n        str = i[\"date_time\"] + \" charge\"\n    else:\n        str = i[\"date_time\"] + \" dis\"\n    listDates.append(str)\nmsg[\"payload\"] = listDates\nreturn msg",
        "outputs": 1,
        "x": 890,
        "y": 1320,
        "wires": [
            [
                "2d19cce7b1a4bfaf"
            ]
        ]
    },
    {
        "id": "50da914582ddff38",
        "type": "DataIn",
        "z": "eec1949e6da83fef",
        "collection": "ea61b3e3490af972",
        "name": "",
        "update": false,
        "path": "/jsonDataTimesBat02",
        "x": 1260,
        "y": 1320,
        "wires": []
    },
    {
        "id": "2d19cce7b1a4bfaf",
        "type": "json",
        "z": "eec1949e6da83fef",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1070,
        "y": 1320,
        "wires": [
            [
                "50da914582ddff38"
            ]
        ]
    },
    {
        "id": "c81530d421d39d19",
        "type": "template",
        "z": "eec1949e6da83fef",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"battery_ID\":\"2\"}",
        "output": "json",
        "x": 360,
        "y": 1320,
        "wires": [
            [
                "e7dcc82a3e26fd2f"
            ]
        ]
    },
    {
        "id": "e7dcc82a3e26fd2f",
        "type": "mongodb in",
        "z": "eec1949e6da83fef",
        "mongodb": "9db2df972f053a3d",
        "name": "",
        "collection": "offline",
        "operation": "find",
        "x": 540,
        "y": 1320,
        "wires": [
            [
                "b7cd86b199a4b71b"
            ]
        ]
    },
    {
        "id": "b7cd86b199a4b71b",
        "type": "json",
        "z": "eec1949e6da83fef",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 710,
        "y": 1320,
        "wires": [
            [
                "d51045f6c1f6f5b2"
            ]
        ]
    },
    {
        "id": "597aaa2667a77a5a",
        "type": "DataOut",
        "z": "eec1949e6da83fef",
        "collection": "ea61b3e3490af972",
        "name": "",
        "path": "/jsonDataTimesBat02",
        "error": false,
        "x": 400,
        "y": 760,
        "wires": [
            [
                "0852cd848f3f76be",
                "f8edb7dda20a4ca6"
            ]
        ]
    },
    {
        "id": "445ea792f73898ba",
        "type": "mongodb in",
        "z": "eec1949e6da83fef",
        "mongodb": "9db2df972f053a3d",
        "name": "",
        "collection": "offline",
        "operation": "find",
        "x": 1240,
        "y": 680,
        "wires": [
            [
                "3ec5d22a06250a5b",
                "a5258ec78c1fd87a"
            ]
        ]
    },
    {
        "id": "04bbaacd5dfe26e4",
        "type": "template",
        "z": "eec1949e6da83fef",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"battery_ID\":\"{{topic}}\",\"date_time\":\"{{payload}}\",\"type\":\"charge\"}",
        "output": "json",
        "x": 1060,
        "y": 680,
        "wires": [
            [
                "445ea792f73898ba"
            ]
        ]
    },
    {
        "id": "4833e6a067ec3e65",
        "type": "ui_dropdown",
        "z": "eec1949e6da83fef",
        "name": "",
        "label": "Discharges",
        "tooltip": "",
        "place": "Select option",
        "group": "66c8885873538791",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "x": 890,
        "y": 740,
        "wires": [
            [
                "de505d0f1aa372b1"
            ]
        ]
    },
    {
        "id": "de3c015f57d133a9",
        "type": "python3-function",
        "z": "eec1949e6da83fef",
        "name": "",
        "func": "data = json.loads(msg[\"payload\"])\nlistA = []\nfor i in data:\n    if(\"dis\" in i):\n        i = i.replace(\" dis\",\"\")\n        listA.append(i)\nmsg[\"options\"] = listA\nmsg[\"topic\"] = 1\nreturn msg",
        "outputs": 1,
        "x": 670,
        "y": 700,
        "wires": [
            [
                "4833e6a067ec3e65"
            ]
        ]
    },
    {
        "id": "f8edb7dda20a4ca6",
        "type": "python3-function",
        "z": "eec1949e6da83fef",
        "name": "",
        "func": "data = json.loads(msg[\"payload\"])\nlistA = []\nfor i in data:\n    if(\"dis\" in i):\n        i = i.replace(\" dis\",\"\")\n        listA.append(i)\nmsg[\"options\"] = listA\nmsg[\"topic\"] = 2\nreturn msg",
        "outputs": 1,
        "x": 670,
        "y": 820,
        "wires": [
            [
                "4833e6a067ec3e65"
            ]
        ]
    },
    {
        "id": "0852cd848f3f76be",
        "type": "python3-function",
        "z": "eec1949e6da83fef",
        "name": "",
        "func": "data = json.loads(msg[\"payload\"])\nlistA = []\nfor i in data:\n    if(\"charge\" in i):\n        i = i.replace(\" charge\",\"\")\n        listA.append(i)\nmsg[\"options\"] = listA\nmsg[\"topic\"] = 2\nreturn msg",
        "outputs": 1,
        "x": 670,
        "y": 760,
        "wires": [
            [
                "be3840341fe3d52b"
            ]
        ]
    },
    {
        "id": "a5d6572572e63396",
        "type": "mongodb in",
        "z": "eec1949e6da83fef",
        "mongodb": "9db2df972f053a3d",
        "name": "",
        "collection": "offline",
        "operation": "find",
        "x": 1240,
        "y": 740,
        "wires": [
            [
                "0f0b65948e33dc77",
                "709a31d2f4177ebb"
            ]
        ]
    },
    {
        "id": "de505d0f1aa372b1",
        "type": "template",
        "z": "eec1949e6da83fef",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"battery_ID\":\"{{topic}}\",\"date_time\":\"{{payload}}\",\"type\":\"discharge\"}",
        "output": "json",
        "x": 1060,
        "y": 740,
        "wires": [
            [
                "a5d6572572e63396"
            ]
        ]
    },
    {
        "id": "0f0b65948e33dc77",
        "type": "change",
        "z": "eec1949e6da83fef",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0][\"current_battery\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "batterydischarge",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1460,
        "y": 780,
        "wires": [
            [
                "f743e3c4c5160bf0"
            ]
        ]
    },
    {
        "id": "709a31d2f4177ebb",
        "type": "change",
        "z": "eec1949e6da83fef",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0][\"time\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "timedischarge",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1460,
        "y": 740,
        "wires": [
            [
                "f743e3c4c5160bf0"
            ]
        ]
    },
    {
        "id": "f743e3c4c5160bf0",
        "type": "join",
        "z": "eec1949e6da83fef",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1650,
        "y": 640,
        "wires": [
            [
                "e250dd4168331084"
            ]
        ]
    },
    {
        "id": "e250dd4168331084",
        "type": "python3-function",
        "z": "eec1949e6da83fef",
        "name": "",
        "func": "data = msg[\"payload\"]\n\ntimeC = data[\"timecharge\"]\nbatC = data[\"batterycharge\"]\nbatD = data[\"batterydischarge\"]\ntimeD = data[\"timedischarge\"]\n\nbatC = list(reversed(batC))\n\nbatD = list(reversed(batD))\n\nlistA =[]\nfor time, bat in zip(timeC, batC):\n    listA.append({\"x\": time / 15 ,\"y\":bat })\n    \n\nlistB =[]\nfor time, bat in zip(timeD, batD):\n    listB.append({\"x\": time / 15 ,\"y\":bat })\n\nmsg[\"payload\"]=[{\n\"series\": [\"Battery Charge\", \"Battery Discharge\"],\n\"data\": [\n   listA, listB\n],\n\"labels\": [\"charge\",\"discharge\"]\n}]\n\nreturn msg",
        "outputs": 1,
        "x": 1730,
        "y": 720,
        "wires": [
            [
                "deb55189d47a5303"
            ]
        ]
    },
    {
        "id": "deb55189d47a5303",
        "type": "ui_chart",
        "z": "eec1949e6da83fef",
        "name": "",
        "group": "2b392f931bc52403",
        "order": 5,
        "width": "12",
        "height": "6",
        "label": "chart",
        "chartType": "line",
        "legend": "true",
        "xformat": "SSS",
        "interpolate": "step",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "0",
        "removeOlderPoints": "100000",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1910,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "a5258ec78c1fd87a",
        "type": "change",
        "z": "eec1949e6da83fef",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0][\"current_battery\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "batterycharge",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1460,
        "y": 680,
        "wires": [
            [
                "f743e3c4c5160bf0"
            ]
        ]
    },
    {
        "id": "3ec5d22a06250a5b",
        "type": "change",
        "z": "eec1949e6da83fef",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0][\"time\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "timecharge",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1460,
        "y": 640,
        "wires": [
            [
                "f743e3c4c5160bf0"
            ]
        ]
    },
    {
        "id": "c2f361a36435b80a",
        "type": "DataOut",
        "z": "eec1949e6da83fef",
        "collection": "ea61b3e3490af972",
        "name": "",
        "path": "/jsonDataBat01",
        "error": false,
        "x": 520,
        "y": 480,
        "wires": [
            [
                "6d23945ae65462a0"
            ]
        ]
    },
    {
        "id": "6d23945ae65462a0",
        "type": "python3-function",
        "z": "eec1949e6da83fef",
        "name": "",
        "func": "data = json.loads(msg[\"payload\"])\nmax = 0\nmin = 100\ntotal = 0\ncount = 0\nstd = 0\nfor i in data:\n    count = count + len(i[\"temp_battery\"])\n    for j in i[\"temp_battery\"]:\n        total = total + j\n        if(j > max):\n            max = j\n        if(j < min):\n            min = j\navg = total / count\nSUM = 0\nfor i in data:\n    for j in i[\"temp_battery\"]:\n        SUM +=(j-avg)**2\nstd = (SUM/(count-1))**(1/2) \nmsg[\"payload\"]=[\nmin,\nmax,\navg,\nstd\n]\nreturn msg",
        "outputs": 1,
        "x": 710,
        "y": 480,
        "wires": [
            [
                "3a184331f4c35f3f",
                "11b1b65c2eb3e52c",
                "75207abb74142ea1",
                "3d66059a9c3c28e5"
            ]
        ]
    },
    {
        "id": "535becf75e176df7",
        "type": "mongodb in",
        "z": "eec1949e6da83fef",
        "mongodb": "9db2df972f053a3d",
        "name": "",
        "collection": "offline",
        "operation": "find",
        "x": 540,
        "y": 1140,
        "wires": [
            [
                "ac049fa529500301"
            ]
        ]
    },
    {
        "id": "ac049fa529500301",
        "type": "json",
        "z": "eec1949e6da83fef",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 710,
        "y": 1140,
        "wires": [
            [
                "42bafe9772734904"
            ]
        ]
    },
    {
        "id": "42bafe9772734904",
        "type": "DataIn",
        "z": "eec1949e6da83fef",
        "collection": "ea61b3e3490af972",
        "name": "",
        "update": false,
        "path": "/jsonDataBat01",
        "x": 880,
        "y": 1140,
        "wires": []
    },
    {
        "id": "6f5f1f2647d37f52",
        "type": "template",
        "z": "eec1949e6da83fef",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"battery_ID\":\"1\"}",
        "output": "json",
        "x": 360,
        "y": 1140,
        "wires": [
            [
                "535becf75e176df7"
            ]
        ]
    },
    {
        "id": "7c2b7b4350f503f1",
        "type": "template",
        "z": "eec1949e6da83fef",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"battery_ID\":\"2\"}",
        "output": "json",
        "x": 360,
        "y": 1200,
        "wires": [
            [
                "6af7c445673d39b6"
            ]
        ]
    },
    {
        "id": "29a1cdc1cb68400d",
        "type": "switch",
        "z": "eec1949e6da83fef",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 500,
        "wires": [
            [
                "c2f361a36435b80a"
            ],
            [
                "d2f3319615e56407"
            ]
        ]
    },
    {
        "id": "d2f3319615e56407",
        "type": "DataOut",
        "z": "eec1949e6da83fef",
        "collection": "ea61b3e3490af972",
        "name": "",
        "path": "/jsonDataBat02",
        "error": false,
        "x": 520,
        "y": 540,
        "wires": [
            [
                "86c4ba67e497f294"
            ]
        ]
    },
    {
        "id": "86c4ba67e497f294",
        "type": "python3-function",
        "z": "eec1949e6da83fef",
        "name": "",
        "func": "data = json.loads(msg[\"payload\"])\nmax = 0\nmin = 100\ntotal = 0\ncount = 0\nstd = 0\nfor i in data:\n    count = count + len(i[\"temp_battery\"])\n    for j in i[\"temp_battery\"]:\n        total = total + j\n        if(j > max):\n            max = j\n        if(j < min):\n            min = j\navg = total / count\nSUM = 0\nfor i in data:\n    for j in i[\"temp_battery\"]:\n        SUM +=(j-avg)**2\nstd = (SUM/(count-1))**(1/2) \nmsg[\"payload\"]=[\nmin,\nmax,\navg,\nstd\n]\nreturn msg",
        "outputs": 1,
        "x": 710,
        "y": 540,
        "wires": [
            [
                "3a184331f4c35f3f",
                "11b1b65c2eb3e52c",
                "75207abb74142ea1",
                "3d66059a9c3c28e5"
            ]
        ]
    },
    {
        "id": "3a184331f4c35f3f",
        "type": "ui_text",
        "z": "eec1949e6da83fef",
        "group": "c538ae3db64d293c",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Battery Temperature Min",
        "format": "{{msg.payload[0]}}",
        "layout": "col-center",
        "x": 1010,
        "y": 460,
        "wires": []
    },
    {
        "id": "11b1b65c2eb3e52c",
        "type": "ui_text",
        "z": "eec1949e6da83fef",
        "group": "c538ae3db64d293c",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Battery Temperature Max",
        "format": "{{msg.payload[1]}}",
        "layout": "col-center",
        "x": 1010,
        "y": 500,
        "wires": []
    },
    {
        "id": "75207abb74142ea1",
        "type": "ui_text",
        "z": "eec1949e6da83fef",
        "group": "c538ae3db64d293c",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Battery Temperature Average",
        "format": "{{msg.payload[2]}}",
        "layout": "col-center",
        "x": 1020,
        "y": 540,
        "wires": []
    },
    {
        "id": "3d66059a9c3c28e5",
        "type": "ui_text",
        "z": "eec1949e6da83fef",
        "group": "c538ae3db64d293c",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Battery Temperature Deviation",
        "format": "{{msg.payload[3]}}",
        "layout": "col-center",
        "x": 1030,
        "y": 580,
        "wires": []
    },
    {
        "id": "6d45979c12a7b5db",
        "type": "ui_text_input",
        "z": "eec1949e6da83fef",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "4d0206139b8d2c96",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "parts",
        "topicType": "msg",
        "x": 90,
        "y": 460,
        "wires": [
            [
                "4dc51f51d3c27b3d",
                "d1974537b9239ba7",
                "19d8e4ba20c2fd14",
                "29a1cdc1cb68400d"
            ]
        ]
    },
    {
        "id": "ea872afdd42d6bb5",
        "type": "comment",
        "z": "eec1949e6da83fef",
        "name": "Exercise 1",
        "info": "",
        "x": 280,
        "y": 100,
        "wires": [],
        "icon": "font-awesome/fa-check-square"
    },
    {
        "id": "10ea64adf675da41",
        "type": "comment",
        "z": "eec1949e6da83fef",
        "name": "Exercise 3",
        "info": "",
        "x": 300,
        "y": 460,
        "wires": [],
        "icon": "font-awesome/fa-check-square"
    },
    {
        "id": "2c12feee81265b75",
        "type": "comment",
        "z": "eec1949e6da83fef",
        "name": "Exercise 4",
        "info": "",
        "x": 180,
        "y": 700,
        "wires": [],
        "icon": "font-awesome/fa-check-square"
    },
    {
        "id": "7074f69cb4a972bd",
        "type": "comment",
        "z": "eec1949e6da83fef",
        "name": "Load DB to Node-red",
        "info": "",
        "x": 120,
        "y": 1200,
        "wires": [],
        "icon": "font-awesome/fa-check-square"
    },
    {
        "id": "9db2df972f053a3d",
        "type": "mongodb",
        "hostname": "127.0.0.1",
        "topology": "direct",
        "connectOptions": "",
        "port": "27017",
        "db": "iot",
        "name": "IoT DB"
    },
    {
        "id": "4d0206139b8d2c96",
        "type": "ui_group",
        "name": "Exercise 1",
        "tab": "32e5c27e636962f2",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "be4b422e5e50ec2f",
        "type": "ui_group",
        "name": "Exercise 1",
        "tab": "32e5c27e636962f2",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ea61b3e3490af972",
        "type": "json-db-collection",
        "name": "Test",
        "collection": "jsonfile",
        "save": true
    },
    {
        "id": "66c8885873538791",
        "type": "ui_group",
        "name": "Exercise 4",
        "tab": "32e5c27e636962f2",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2b392f931bc52403",
        "type": "ui_group",
        "name": "Test",
        "tab": "188ce1430d783dba",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "c538ae3db64d293c",
        "type": "ui_group",
        "name": "Exercise 3",
        "tab": "32e5c27e636962f2",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "32e5c27e636962f2",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "188ce1430d783dba",
        "type": "ui_tab",
        "name": "Test",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]